*.ipynb_checkpoints
references.bib
*.pdf
*obsidian/workspace
data/ccd_enrollment_1819.csv
data/nces_att_bound/
data/edge_geocode/
data/nhgis/nhgis0020_ds172_2010_tract.csv
data/nhgis/nhgis0022_ds172_2010_blck_grp.csv
data/nhgis/nhgis0023_ds172_2010_block.csv